<ion-view class="login-bg" style="overflow: auto;">
  <ion-content class="login">
    <div class="overlay"></div>
    <div class="content" >
        <br>
        <br>
        <br>
        <br>
        <img src="img/blue_white_full.png" />
        <div class="divider">
                
                <div class="learn-screen-text fontfamilyclass">It would be cool to have a video <br>background looping</div>
            </div>
            <button class="button  button-light fontfamilyclass btncolor" ui-sref="signup">Sign Up</button>
            <button class="button button-light fontfamilyclass btncolor" ui-sref="learn_screen1">Learn More</button>
            <br>
            <br>

            <div class="fontfamilyclass learn-screen-text"> Already a member ? <a ui-sref="login" class="fontfamilyclass learn-screen-text">Sign In</a></div>
     
      
      
    </div>
  </ion-content>
</ion-view>
