

<ion-view  class="myaccount" style="overflow: auto;">
  <ion-content class="login">
    <div class="content">

        <div class="myaccount_main_logo">
         Ask for a l< sson
            </div>
            <span>
              <i class="icon  ion-ios-home panel-icon" style="font-size: 35px;
    color: #158;" ui-sref="main"></i>

            <!--   <img src="img/panel_icon.png" class="panel-icon" style="width: 25px;"> --></span>
<br>
<br>
<br>
            <div class="list ">
   <label class="item item-input item-stacked-label">
   <span class="input-label btncolor fontfamilyclass ">Title of lesson</span>
   <input type="text" class="card_input" placeholder="Name">
   </label>



   <label class="item item-input item-stacked-label">
   <span class="input-label btncolor fontfamilyclass">Decription of the video</span>
   <textarea class="create_lesson_inputbox" rows="4" cols="50"></textarea>
   </label>
    <label class="item item-input item-stacked-label">
   <span class="input-label btncolor fontfamilyclass">Tag your lesson so people can find it</span>
   <input type="text" class="create_lesson_inputbox" placeholder="">
   </label>









   <div class="row">

    <div class="col">

           <button class="button  button-light fontfamilyclass create_lesson_start_lesson" ui-sref="signup" style="background-color:#085285;color:white;">Confirm Your l< sson</button>


    </div>




   </div>

</div>
</div>

  </ion-content>
</ion-view>
