<ion-view  class="screen2-bg" style="overflow: auto;">
  <ion-content class="login">
    <div class="overlay" ></div>
    <div class="content" overflow-scroll="true" ng-swipe-left="checkit()" >
        <h5 class="learn-screen-text fontfamilyclass">Walkthrough Screen 2</h5>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


        <div>
            <div class="divider">

            <div class="learn-screen-text fontfamilyclass">Aliquam placerat etiam odio, misi<br>
                    nec! Tristique, mid enim cum odio <br> massa, a est porta tortor nunc,elit
                    <br>scelerisque.</div>

            </div>
            <div >
             <div class="learn-screen-bubble noselectbubble"></div>
             <div class="learn-screen-bubble  selectbubble"></div>
             <div class="learn-screen-bubble noselectbubble"></div>
             <div class="learn-screen-bubble noselectbubble"></div>
         </div>

            <button class="button  button-light btncolor" ui-sref="learn_screen3">Next</button>
            <!-- <button class="button button-light" ng-click="GPlogin()">Learn More</button> -->
        </div>

        <!-- <p class="note">Only works on your real device, not in browser</p> -->
    </div>
  </ion-content>
</ion-view>
