<ion-view class="screen5-bg" style="overflow: auto;">
  <ion-content class="login">
    <div class="overlay"></div>
    <div class="content">
        <h4 class="learn-screen-text fontfamilyclass ">Conect via social or <br>email page</h4>

            <br>
            <br>
            <br>
            
        
            <div>
            <div class="divider">

            <div class="learn-screen-text fontfamilyclass">Aliquam placerat etiam odio, misi<br>
                    nec! Tristique, mid enim cum odio <br> massa, a est porta tortor nunc,elit
                    <br>scelerisque.</div>

            </div>
            <button class="button  button-positive learn-screen- fontfamilyclass screen5" ng-click="FBlogin()">Sign in with Facebook</button>
            <button class="button  button-assertive learn-screen-text fontfamilyclass screen5" ng-click="GPlogin()">Sign in with Google</button>
            <button class="button  button-light fontfamilyclass screen5" ui-sref="login">Sign in with Email</button>
            <!-- <button class="button button-light" ng-click="GPlogin()">Learn More</button> -->
        </div>
        <div ng-if="isGPlogin">
            <div class="divider">
                <div class="line left"></div>
                <div class="line right"></div>
                <div class="text">Connect data with Google</div>
            </div>
            <!-- <button class="button icon-left ion-social-google button-assertive" ui-sref="app.gpprofile">Sign Up</button> -->
            <!-- <button class="button icon-left ion-social-google button-assertive" ui-sref="app.gpprofile"></button> -->
        </div>
        <!-- <p class="note">Only works on your real device, not in browser</p> -->
    </div>
  </ion-content>
</ion-view>
