<ion-view style="overflow: auto;" class="myaccount">
  <ion-content class="login">
    <!-- <div class="overlay"></div> -->
    <div class="content">
        <!-- <h5 class="learn-screen-text">Walkthrough Screen 1</h5> -->
        <div class="myaccount_main_logo">
            <!-- <img src="img/logo-no_text_wteAsset.png" style="width: 46px;"  -->My account
            
            </div>

            <span><img src="img/panel_icon.png" class="panel-icon" style="width: 25px;"></span>

            <br>
            <br>
            <br>
            <br>

             <ion-list style="background-color:white" ui-sref="myaccount_info">
            <div class="myaccount_mainbox_first fontfamilyclass">
                  <div class="main_box_hading ">Edit Profile</div>  
                  
              </div>
            </ion-list>

             <ion-list style="background-color:white">
            <div class="myaccount_mainbox fontfamilyclass">
                  <div class="main_box_hading ">Terminate account</div>  
                  
              </div>
            </ion-list>

             <ion-list style="background-color:white">
            <div class="myaccount_mainbox fontfamilyclass">
                  <div class="main_box_hading ">Some other setting</div>  
                  
              </div>
            </ion-list>

             <ion-list style="background-color:white">
            <div class="myaccount_mainbox fontfamilyclass">
                  <div class="main_box_hading ">Log out</div>  
                  
              </div>
            </ion-list>


          

           
      


    <div class="myaccount_main_logo backbutton" ui-sref="myaccount">
            <!-- <img src="img/logo-no_text_wteAsset.png" style="width: 46px;"  -->Back to my account
            
            </div>





            
            <!-- <button class="button button-light" ng-click="GPlogin()">Learn More</button> -->
        
        <div ng-if="isGPlogin">
            <div class="divider fontfamilyclass">
                <div class="line left"></div>
                <div class="line right"></div>
                <div class="text">Connect data with Google</div>
            </div>
            <!-- <button class="button icon-left ion-social-google button-assertive" ui-sref="app.gpprofile">Sign Up</button> -->
            <!-- <button class="button icon-left ion-social-google button-assertive" ui-sref="app.gpprofile"></button> -->
        </div>
        <!-- <p class="note">Only works on your real device, not in browser</p> -->
    </div>
  </ion-content>
</ion-view>
