<ion-view style="overflow: auto;"  class="myaccount">
  <ion-content class="login">
     <div class="content" style="padding: 10px 0; !important">

 <div class="search-other-icon">
            My account
</div>



      <div class="row">
        <div class="col col-90">
            <label class="item-input-wrapper">
            <i class="icon icon ion-search placeholder-icon search-icon"></i>
            <input type="search" placeholder="Search" style="background-color: #eee;height: 33px;width: 100%;text-align: center;">
            <i class="icon ion-ios-close-outline placeholder-icon search-icon"></i>
            </label>
          </div>
          <div class="col">
            <i class="icon ion-levels sort-icon btncolor"></i>
          </div>
      </div>
      <div class="row">
        <div class="col col-33 sort-tabs"> Sort by A-Z 
          <i class="icon ion-arrow-up-c  btncolor"></i>
          <i class="icon ion-arrow-down-c  btncolor"></i>
         </div>
        <div class="col col-33 sort-tabs">Sort by price
          <i class="icon ion-arrow-up-c  btncolor"></i>
          <i class="icon ion-arrow-down-c  btncolor"></i>
        </div>
        <div class="col col-33 sort-tabs">Sort by Rating
          <i class="icon ion-arrow-up-c  btncolor"></i>
          <i class="icon ion-arrow-down-c  btncolor"></i>
        </div>
      </div>



      <div class="row" style="text-align: left;position: relative;">
        
        <div class="col col-100 search-video-div">
          <img src="img/ecommerce/beauty.jpg"  style="width: 100%;">


        </div>
        <div class="video-decription"> Making fresh pasta noodles</div>

        <i class="icon ion-play play-icon" ></i>
      </div>


 <div class="row" style="text-align: left;position: relative;">
        
        <div class="col col-100 search-video-div">
          <img src="img/ecommerce/beauty.jpg"  style="width: 100%;">


        </div>
        <div class="video-decription"> Making fresh pasta noodles</div>

        <i class="icon ion-play play-icon" ></i>
      </div>





</div>

    </ion-content>
</ion-view>