<ion-view style="overflow: auto;"  class="myaccount">
  <ion-content class="login">
      <div class="row">
        <img src="img/logo-img.png"  class="img-logo" style="width:7%">
        <img src="img/ecommerce/beauty.jpg"  style="width: 100%;height:214px;">
        <h1 class="img-text">$1</h1>
      </div>
     


      <div class="row" style="text-align: left;">
        <div class="col col-100 lesson-description" >
          
          <div class="search-text-content"> Making fresh pasta noodles</div>
          <div class="search-text-heading"> Cooagua</div>
          <br>
         
         <span>

            Lorem ipsum dolor sit amet consectetur adipiscing elit phasellus quis lectus metus, at posuere neque. sed pharetra nlbh eget ord conval at posure
            Lorem ipsum dolor sit amet consectetur adipiscing elit phasellus quis lectus metus, at posuere neque. sed pharetra nlbh eget ord conval at posure
          </span>

        </div>
       <!--  <div class="col col-50">
          <img src="img/ecommerce/beauty.jpg"  style="width: 100%;">
        </div> -->
      </div>

      <div class="row">
        <h4 class="review-text">Reviews</h4>


      </div>


      <div class="row">
        <div class="col col-20">
        <img class="review-pic" src="img/ecommerce/beauty.jpg"  style="width: 100%;">


        </div>
        <div class="col col-60 review-full">
          <div>John Steele
          </div>
          <div class="review-text">Greate Video ,exactly what i was looking for.</div>


        </div>
        <div class="col col-20"><div class="review-rate">+1</div></div>


      </div>

       <div class="row">
        <div class="col col-20">
        <img class="review-pic" src="img/ecommerce/beauty.jpg"  style="width: 100%;">


        </div>
        <div class="col col-60 review-full">
          <div>John Steele
          </div>
          <div class="review-text">Greate Video ,exactly what i was looking for.</div>


        </div>
        <div class="col col-20"><div class="review-rate">+1</div></div>


      </div>
       <div class="row">
        <div class="col col-20">
        <img class="review-pic" src="img/ecommerce/beauty.jpg"  style="width: 100%;">


        </div>
        <div class="col col-60 review-full">
          <div>John Steele
          </div>
          <div class="review-text">Greate Video ,exactly what i was looking for.</div>


        </div>
        <div class="col col-20"><div class="review-rate">+1</div></div>


      </div>
<div class="row" style="position: fixed;bottom: 0;background-color: white;">

  <button class="button buy-btn" ng-click="confirm_payment.show();"> Buy Now</button>



</div>







    </ion-content>
</ion-view>