
<ion-side-menus class="infobtn" style="z-index:9999;overflow: auto;">
  <!-- Left menu -->
  <ion-side-menu side="right" >
  </ion-side-menu>

  <ion-side-menu-content class="infobtn">
  <div class="row">
    <div class="col col-45"></div>
    <div class="col col-65">
    
          <div class="complete-lesson-close" ng-click="modal.hide();">
            <i class="icon ion-close-round "></i>
          </div>

          
          <img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png" class="popover-img">
          <br>
          <div class="img-heading fontfamilyclass btncolor">
            <h5 class="btncolor">Jenn</h5>
            content crieator/user
          </div>



          <br>


          <ul class="list fontfamilyclass btncolor">
              <li class="item">
                <div class="row">
                  <div class="col col-75 fontfamilyclass btncolor">
                Revenue </div>
                <div class="col col-25 fontfamilyclass btncolor"> $10.50
                </div>
              </div>
                <div class="row">
                  <div class="col col-75 sub-item fontfamilyclass btncolor"> Complted L< ssons</div>
                  <div class="col col-25 fontfamilyclass btncolor">cash out</div>
                </div>
                <div class="row">
                  <div class="col col-75 sub-item fontfamilyclass btncolor"> Recent Purchases</div>
                  <div class="col col-25"> </div>
                </div>
                <div class="row">
                  <div class="col col-75 sub-item fontfamilyclass btncolor"> Recent Viewed L>ssons</div>
                  <div class="col col-25"></div>
                </div>
              </li>

              <li class="item">
                <div class="row">
                  <div class="col col-75 fontfamilyclass btncolor">
                Spending </div>
                <div class="col col-25 fontfamilyclass btncolor"> $100.25
                </div>
              </div>
                <div class="row">
                  <div class="col col-75 sub-item fontfamilyclass btncolor"> item 1</div>
                  <div class="col col-25"></div>
                </div>
                <div class="row">
                  <div class="col col-75 sub-item fontfamilyclass btncolor"> item 2</div>
                  <div class="col col-25"> </div>
                </div>
                <div class="row">
                  <div class="col col-75 sub-item fontfamilyclass btncolor"> item3</div>
                  <div class="col col-25"></div>
                </div>
              </li>



              <li>


            <button class="button  button-light fontfamilyclass profile-info1" ui-sref="signup" style="background-color:#085285;color:white;">Log Out</button>

              </li>

            </ul>












    </div>

  </div>
  

  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right" class="infobtn">

  
  </ion-side-menu>

</ion-side-menus>