
  <ion-content class="login infobtn">
    <!-- <div class="overlay"></div> -->
    <div class="content" class="popover">
        
        
        <div class="list popover-list" ng-click="popover.hide()">
            <div class="popover-icon_first">
            <i class="icon ion-close-round "></i>
          </div>
           </div>
          <br>
          <br>
          <br>
          <div class="list popover-list" ng-click="homepage()">
            <div class="popover-icon">
            <i class="icon ion-home "></i>
          </div>
           </div>
           <br>
           <br>
           

          <div class="list popover-list" ui-sref="" ng-click=showOtherLesson()>
            <div class="popover-icon">
            <i class="icon ion-ios-videocam-outline "></i>
          </div>
           </div>
           <br>
           <br>
       


           <div class="list popover-list" ng-click="modal.show();">
            <div class="popover-icon">
            <i class="icon ion-person"></i>
          </div>
           </div>
           <br>
           <br>
         
           
          <div class="list popover-list" ng-click="settingpage()">
            <div class="popover-icon">
            <i class="icon ion-android-settings"></i>
          </div>
           </div>
           <br>
           
           <br>
           
          <div class="list popover-list">
            <div class="popover-icon">
            <i class="icon  ion-android-search"></i>
          </div>
           </div>

           <br>
           <br>
           <br>
         
           <br>
           <br>
           <br>


           <button class="button  button-light fontfamilyclass screen5" ui-sref="signup" style="background-color:#085285;color:white;">Start Your Lesson</button>

        
    </div>







  </ion-content>
