<ion-view class="myaccount" style="overflow: auto;">
  <ion-content class="login">
    
    <div class="content">
        
        <div class="myaccount_main_logo">
        Complete a L< sson</div>

        <span>
          <i class=" nav-icon icon ion-navicon placeholder-icon" ng-click="popover.show();"></i></span>
            <br>
            <br>
            <br>
           <div class="list">
  <label class="item-input-wrapper">
    <i class="icon icon ion-search placeholder-icon search-icon"></i>
    <input type="search" placeholder="Search" style="background-color: #eee;height: 46px;width: 100%;text-align: center;">
    <i class="icon ion-ios-mic placeholder-icon search-icon"></i>
  </label>
</div>


<div class="list" style="text-align:left;">
  <div class="row">
    <div class="col col-20">

      <img src="img/star-off.png" class="panel-icon" ng-if="startClick==true" style="width: 34px;" ng-click="likeClick(startClick)">

      <img src="img/star-on.png" class="panel-icon" ng-if="startClick==false" style="width: 34px;" ng-click="likeClick(startClick)"></div>
  <div class="col col-60 btncolor fontfamilyclass"><h5 class="btncolor lesson_heading" >Complete a L< sson</h5>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam

  </div>
  <div class="col col-20 btncolor fontfamilyclass lesson_price">$5</div>

  </div>

<div class="row">
    <div class="col col-20">

      <img src="img/star-off.png" class="panel-icon" ng-if="startClick==true" style="width: 34px;" ng-click="likeClick(startClick)">

      <img src="img/star-on.png" class="panel-icon" ng-if="startClick==false" style="width: 34px;" ng-click="likeClick(startClick)"></div>
  <div class="col col-60 btncolor fontfamilyclass"><h5 class="btncolor lesson_heading" >Complete a L< sson</h5>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam

  </div>
  <div class="col col-20 btncolor fontfamilyclass lesson_price">$5</div>

  </div>
  <div class="row">
    <div class="col col-20">

      <img src="img/star-off.png" class="panel-icon" ng-if="startClick==true" style="width: 34px;" ng-click="likeClick(startClick)">

      <img src="img/star-on.png" class="panel-icon" ng-if="startClick==false" style="width: 34px;" ng-click="likeClick(startClick)"></div>
  <div class="col col-60 btncolor fontfamilyclass"><h5 class="btncolor lesson_heading" >Complete a L< sson</h5>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam

  </div>
  <div class="col col-20 btncolor fontfamilyclass lesson_price">$5</div>

  </div>
  <div class="row">
    <div class="col col-20">

      <img src="img/star-off.png" class="panel-icon" ng-if="startClick==true" style="width: 34px;" ng-click="likeClick(startClick)">

      <img src="img/star-on.png" class="panel-icon" ng-if="startClick==false" style="width: 34px;" ng-click="likeClick(startClick)"></div>
  <div class="col col-60 btncolor fontfamilyclass"><h5 class="btncolor lesson_heading" >Complete a L< sson</h5>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam

  </div>
  <div class="col col-20 btncolor fontfamilyclass lesson_price">$5</div>

  </div>
  <div class="row">
    <div class="col col-20">

      <img src="img/star-off.png" class="panel-icon"  style="width: 34px;" ng-click="likeClick(startClick)">

      <img src="img/star-on.png" class="panel-icon" ng-if="startClick==false" style="width: 34px;" ng-click="likeClick(startClick)"></div>
  <div class="col col-60 btncolor fontfamilyclass"><h5 class="btncolor lesson_heading" >Complete a L< sson</h5>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam

  </div>
  <div class="col col-20 btncolor fontfamilyclass lesson_price">$5</div>

  </div>

</div>

           

    </div>
  </ion-content>
</ion-view>
